*{
      padding: 0;
        margin: 0;
        box-sizing: border-box;
        
 font-family: 'Work Sans',sans-serif;
 font-family: 'lato', sans-serif;
 font-family: 'lato', sans-serif;

    
}

.section-frame{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right:50px;
    
}
.section-frame h3{
    font-size: 40px;
}
.G-ping{
color:rgba(255, 66, 165, 1);
}



nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.nav-text{
    display: flex;
    align-items: center;
}

.follow-us-icon{
display: flex;
align-items: center;
background: #0B02231A;
padding: 8px 18px;
border-radius: 5px;
gap: 5px;

}
.follow-us-icon p{
    font-size: 16px;
}
.follow-us-icon img{
    width: 33px;
    height: 28px;
}
nav>ul{
    display: flex;
    text-align: center;
}
nav li{
list-style: none;
margin-right: 40px;
font-size: 1rem;
font-weight: 500;
}

nav li a{
    text-decoration: none;
}
/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    height: 90vh;
    width: 1200px;
    margin: 0 auto;
}
.banner-content{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
   
    
}

 .banner-text{
 
    margin: 20px 0;
    padding: 20px 0;
 }
 .banner-text h4{
    font-size: 40px;
 }
 
 .banner-text h2{
    font-size: 68px;
    color:#F948B2;
    font-weight: 800;
 }

 .bannaer-list-item .icon{
    margin-right: 10px;

 }
 .bannaer-list-item p{
    margin-top: 1rem;
    
 }
 .btn-primary{
    display: flex;
     gap: 15px;
 }
.btn-primary1{
    background-color: #FF42A5;
    padding: 20px 40px;
    border-radius: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size:18px ;
}
.btn-primary2{
    background-color: #4EC5F7;
    padding: 20px 40px;
    border-radius: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size:18px ;


}

 .img-content{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .img-content img{
    width: 500px;
    height: 400px;
    
 }

 /* teams section style */
.teams-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
 
}
.teams-img-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teams-img-container img{
    width: 868px;
    height: 489px;
    

}
.teams-content{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}
.teams-content h3{
font-size: 48px;
font-weight: 700;
 color:  #F948B2 ;

}
.teams-content p{
font-size: 18px;
font-weight: 400;
align-items: center;

margin: 20px 100px;

}
/* card section */
.facts{
    margin: 10px 240px;
}
.section-title1{
    color: #131313 ;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
.text-light-gray{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #534C64;
    margin-bottom: 30px;
}
.facts-card-container{
 display:flex;
 gap: 10px;

}
.card{
    width: 25%;
    height: 300px;
}
  .card img{
     width: 100%;
     height: 100%;

     
}
/* featureser */
.features{
    margin-top: 150px;
    display: flex;
    gap: 100px;
    text-align: center;
    margin-left:400px ;
    margin-right: 240px;
}

.feature-img #img{
    height:90% ;
    margin-right: 100px;
    border-radius: 8px;
}
.img-button{
    border-radius: 8px;
    width:300px ;
    height: 300px;
    


    text-align: center;
    position: relative;
    bottom: 250px;
}
.img-button img{
    margin-right: 140px;
}

.careers{
    display: flex;
    background-color: #F948B2;
    gap: 100px;
    width: 100%;
    height: 800px;
   
}
.careers-container{
text-align: center;
align-items: center;
margin-left: 340px;
margin-top: 100px;
}
.section-title12{
    color:#fff ;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
.text-light-gray1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.btn-primary12{
    background-color:#fff;
    padding: 20px 40px;
    border-radius: 40px;
    color: #ee11af;
    border: none;
    cursor: pointer;
    font-size:18px ;


}
.sponsors{
margin: 80px 310px;
max-resolution: 100%;
}
.section-img-container{
  display: flex;
   justify-content: space-evenly;
    margin-top: 50px;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;

}
.footer{
   
    background-color:#0B0223;
    height: 400px;

    
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  80px;
}

.footer-list-item1{
display: flex;
text-align: center;


}
.footer-list-item1 li  {
list-style: none;
margin-right: 40px;
font-size: 1rem;
font-weight: 500;
text-align: center;

margin: 40px;

}
.footer-list-item1 li a{
    text-decoration: none;
    color: #fff;
}

.footer-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}
.addres{
 text-align: center;
 font-size: 16px;
 font-weight: 500;
 color: #fff;
 margin-top: 30px;
}


.G-ping1{
    color: #fff;
}